<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/TabbarCustomerConfig.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.vcainfo.szass</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Shanghai WeiCai InfoTech Ltd</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-12-10T04:38:48Z</date>
	<key>Name</key>
	<string>TabbarCustomerConfig</string>
	<key>SchemeName</key>
	<string>TabbarCustomerConfig</string>
</dict>
</plist>
